* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: linear-gradient(to right, #ffbfa9 0%, #ffacac 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #ffebb4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 50rem;
  height: 30rem;
  box-shadow: 0.5px 0.5px 1px 1px rgb(255, 255, 223);
  border-radius: 15px;
}

.card-image {
  background: url(form.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  padding: 10px 10px;
  margin: 5px;
  width: 20rem;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
}

.error {
  font-family: sans-serif;
  color: red;
}

.submit-btn {
  width: 80%;
  margin-top: 20px;
  padding: 10px 20px;
  background: transparent;
  background: rgb(255, 90, 123);
  border: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3.5rem;
}
